@use "_Variables.scss" as *;

@mixin font-size-button {
	font-size: 1rem;
	font-weight: 500;
}

@mixin font-size-section__title__choixcontenu {
	font-size: 1.5rem;
	font-weight: 700;
	color: $color-black;
	margin: 0;
}

@mixin font-size-section__title__choixcontenu-p {
	font-size: 1.125rem;
	font-weight: 300;
}

@mixin font-size-section-etape-h2 {
	color: $color-black;
	font-size: 1rem;
	font-weight: 700;
	margin-left: 1.64rem;
}
@mixin font-size-section__title__choixcontenu-h3 {
	color: $color-black;
	font-size: 1.125rem;
	font-weight: 800;
}

@mixin font-size-section-card-p {
	color: $color-black;
	font-size: 1.0625rem;
	font-weight: 300;
}

@mixin font-size-badge {
	line-height: 1.8125rem;
	color: $color-badge;
	font-weight: bold;
	font-size: 0.875rem;
}

@mixin font-size-footer-h2 {
	margin: 0;
	font-family: $font-shrikhand;
	font-size: 1.125rem;
}
@mixin font-size-footer-a {
	color: $color-white;
	font-size: 1rem;
	font-weight: 500;
}

@mixin font-size-span {
	font-size: 0.88638rem;
	font-weight: 500;
}

@mixin flex-alignement-center {
	justify-content: center;
	align-items: center;
}
//////////////////////////////////////////////////////////////////////////////////////////////
@mixin main-card-hover-effect {
	transform: scale(1);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
	opacity: 70%;
}
//////////////////////////////////////////////////////////////////////////////////////////////
@mixin animation-menu {
	animation: slideInFromRight 2s ease-in-out;
	animation-fill-mode: both;
}

//////////////////////////////////////////////////////////////////////////////////////////////
@mixin font-size-menu-contenu-h2 {
	color: $color-black;
	font-size: 1rem;

	font-weight: 300;
}
@mixin font-size-menu-contenu-h3 {
	color: $color-black;
	font-size: 1.125rem;

	font-weight: 700;
}
@mixin font-size-menu-contenu-p {
	color: $color-black;
	font-size: 0.85019rem;
	font-weight: 300;
}
@mixin menu-contenu-hover-ellispsis {
	width: 100%; // on définit la dimension pour ellipsis fonctionne
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
