@use "_Variables.scss" as *;

@mixin font-size-button {
	font-family: $font-family;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

@mixin font-size-section__title__choixcontenu {
	font-family: $font-family;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: $color-black;
	margin: 0;
}

@mixin font-size-section__title__choixcontenu-p {
	font-family: $font-family;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

@mixin font-size-section-etape-h2 {
	color: $color-black;
	font-family: $font-family;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 1.64rem;
}
@mixin font-size-section__title__choixcontenu-h3 {
	color: $color-black;
	font-family: $font-family;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

@mixin font-size-section-card-p {
	color: $color-black;
	font-family: $font-family;
	font-size: 1.0625rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

@mixin font-size-badge {
	line-height: 1.8125rem;
	color: $color-badge;
	font-weight: bold;
	font-size: 0.875rem;
}

@mixin font-size-footer-h2 {
	margin: 0;
	font-family: Shrikhand;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@mixin font-size-footer-a {
	color: $color-white;
	font-family: Roboto;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
@mixin flex-position {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@mixin span-style {
	font-family: $font-family;
	font-size: 0.88638rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
