/* Colors */
// $color6: #9356dc;
// $color5: #003a68;
// $color4: #89c8fa;
// $color3: #008766;
// $color2: #99e2d0;
// $color1: #fcc0ce;

$Grey: #353535;
$Grey2: #eaeaea;
$White: #fff;
$font-family: Roboto;
