/* Colors */
$color-principal: #000;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-grey: #353535;
$color-grey3: #999;
$color-white: #fff;

// $Grey: #353535;
// $Grey2: #eaeaea;
// $White: #fff;
// $Gradient-principal: #9356dc;
// $Gradient-secondaire: #ff79da;
// $font-family: Roboto;

//////////////////////////////////////////////
$font-family: "Roboto", sans-serif;
$font-titre: "Shrikhand", cursive;
//////////////////////////////////////////////
$color-badge: #008766;
//////////////////////////////////////////////
$background-location: #eaeaea;
$background-badge: #99e2d0;
$background-restaurant: #f6f6f6;
$background-gradient: linear-gradient(
	0deg,
	$color-primary 0%,
	$color-secondary 100%
);
$background-gradient-hover: linear-gradient(
	0deg,
	$color-secondary 0%,
	$color-primary 100%
);
$background-transparent: rgba(255, 255, 255, 0.9);
//////////////////////////////////////////////
$transition-menu: all 0.4s ease-in-out;
$button-border-radius: 1.5625rem;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
//////////////////////////////////////////////
