@use "_Variables" as *;
@use "_Mixin" as Mixin;
@use "_keyframes";
@import "../sass/modules/loader";
@import "../sass/modules/header";
@import "../sass/modules/footer";
// Global styles and variables

body {
	font-family: $font-family;
	color: $color-principal;
	margin: 0;
}

// Commun
a {
	color: inherit;
	text-decoration: none;
}

.section__bouton {
	display: flex;
	@include Mixin.flex-alignement-center;
	padding: 1.69rem 4.69rem 3.56rem 5.12rem;
}

button {
	height: 3.125rem;
	width: 13.625rem;
	padding: 0.81rem 1.17rem;
	border: none;
	border-radius: $button-border-radius;
	color: $color-white;
	background: $background-gradient;
	background-color: $color-primary;
	@include Mixin.font-size-button;
	box-shadow: $box-shadow;
	transition-duration: 0.4s;
	cursor: pointer;

	&:hover {
		background: $background-gradient-hover;
		background-color: $color-secondary;
	}
}

// Main content styles
// *//////////////////////// section-location
.section__location {
	display: flex;
	height: 3.125rem;
	width: 100%;
	flex-direction: row;
	@include Mixin.flex-alignement-center;
	@include Mixin.font-size-button;
	background-color: $background-location;

	.icon__location {
		display: flex;
		height: 1rem;
		width: 0.75rem;
		padding-right: 1.06rem;
		@include Mixin.flex-alignement-center;
		color: $color-grey;
	}
}

// *//////////////////////// section__reservation
.section__reservation {
	display: flex;
	padding-top: 2.44rem;
	flex-direction: column;
	background-color: $background-restaurant;

	.section__title {
		display: flex;
		height: 4.25rem;
		padding: 0 2.62rem 0 3.63rem;
		text-align: center;
		@include Mixin.flex-alignement-center;
	}

	p {
		display: flex;
		padding: 0 2.12rem 0 1.63rem;
		text-align: center;
		@include Mixin.flex-alignement-center;
		@include Mixin.font-size-section__title__choixcontenu-p;
	}
}
// *//////////////////////// section-fonctionnement
.section__fonctionnement {
	display: flex;
	height: 27.5rem;
	flex-direction: column;

	.section__title {
		padding: 3rem 5rem 1.62rem 1.25rem;

		h1 {
			@include Mixin.font-size-section__title__choixcontenu;
		}
	}
	.section__fonctionnement__etape {
		display: flex;
		flex-direction: column;
		background-color: $color-white;
		gap: 30px;

		.fonctionnement__etape {
			display: flex;
			height: 4.52369rem;
			margin: 0 1.25rem;
			border-radius: 1.25rem;
			align-items: center;
			background: $background-restaurant;
			box-shadow: $box-shadow;

			&:hover {
				@include Mixin.main-card-hover-effect;
			}

			span {
				display: flex;
				height: 1.5rem;
				width: 1.5rem;
				margin-left: -10px;
				border-radius: 50%;
				@include Mixin.flex-alignement-center;
				background-color: $color-primary;
				color: $color-white;
				@include Mixin.font-size-span;
			}
			img {
				margin-left: 2.09rem;
			}
			h2 {
				@include Mixin.font-size-section-etape-h2;
			}
		}
	}
}
// *//////////////////////// section-restaurants
.section__restaurants {
	padding-bottom: 4.12rem;
	background: $background-restaurant;

	.section__title {
		padding: 3rem 5rem 1rem 1.25rem;
		h1 {
			@include Mixin.font-size-section__title__choixcontenu;
		}
	}

	.section__restaurants__cards {
		display: flex;
		flex-direction: column;
		padding: 0 1.12rem 1.12rem 1.06rem;
		gap: 1.12rem;

		.restaurant__card {
			position: relative;
			height: 15.6875rem;
			border-radius: 0.9375rem;
			background: $color-white;
			box-shadow: $box-shadow;

			&:hover {
				@include Mixin.main-card-hover-effect;
			}

			.badge__new {
				position: absolute;
				top: 0;
				right: 0;
				height: 1.8125rem;
				width: 5rem;
				margin-right: 0.94rem;
				margin-top: 0.75rem;
				border-radius: 0.125rem;
				background: $background-badge;
				box-shadow: $box-shadow;
				text-align: center;
				@include Mixin.font-size-badge;
			}

			.restaurant__picture {
				height: 70%;
				width: 100%;
				object-fit: cover;
				border-top-left-radius: 0.9375rem;
				border-top-right-radius: 0.9375rem;
			}

			.restaurant__card__detail {
				display: flex;
				padding: 0 0.81rem 0.8rem 0;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				h3 {
					height: 1.25rem;
					margin: 0;
					padding-top: 0.8rem;
					@include Mixin.font-size-section__title__choixcontenu-h3;
				}

				p {
					height: 1.5rem;
					padding-top: 0.31rem;
					margin: 0;
					@include Mixin.font-size-section-card-p;
				}

				.card__detail__left {
					display: flex;
					flex-direction: column;
				}

				.restaurant__favorite {
					position: relative;
					display: flex;
					height: 100%;
					flex-direction: row;
					align-items: center;

					i {
						position: absolute; /* Position absolue pour les balises <i> */
						top: 0; /* Ajustez la valeur pour la position verticale */
						left: -2.56rem; /* Ajustez la valeur pour la position horizontale */
						font-size: 1.5rem;
					}

					.fa-solid {
						opacity: 0;
						color: transparent;
						background-clip: text;
						-webkit-background-clip: text;
						background-image: $background-gradient;
						transition: all 0.4s ease-in-out;

						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
/* Styles pour les écrans de bureau (1024px et plus) */
@media screen and (min-width: 1024px) {
	.section__fonctionnement {
		margin: 0 11em;
		height: 14.27rem;
		.section__fonctionnement__etape {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			margin: 0 0;
			// flex-direction: row;
			@include Mixin.flex-alignement-center;
			.fonctionnement__etape {
				width: 100%;
			}
		}
	}
	.section__restaurants {
		padding: 0 11em;

		.section__restaurants__cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 3.12rem 6.25rem;
			justify-content: center;
			text-align: center;
		}
	}
}
