@use "../_Variables.scss" as *;
@use "../_Mixin.scss" as Mixin;

// *////////////////////////  Logo Menu  ///////////////////////////////////
.image__menu {
	width: 100%;
	height: 17.18rem;
	object-fit: cover;
	// height: 17.18rem;
	// display: flex;
	// justify-content: center;
	// align-items: flex-end;
	// position: relative;
	// z-index: 1;
}

// *////////////////////////  Section Menu  ///////////////////////////////////
.menu__restaurant {
	position: relative;
	display: flex;
	flex-direction: column;
	// height: auto;
	background-color: #f6f6f6;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	z-index: 2; /* Pour être au-dessus de la div logo__menu */
	padding: 5px 10px;
	margin-top: -25px;
	gap: 40px;

	.menu__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 1.6875rem;
		padding-top: 20px;
		margin-bottom: 1.5rem;

		h1 {
			color: var(--Black, #101010);
			font-family: Shrikhand;
			font-size: 1.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.restaurant__favorite {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 100%;
			position: relative;

			i {
				position: absolute; /* Position absolue pour les balises <i> */
				top: 0; /* Ajustez la valeur pour la position verticale */
				left: 2.44rem; /* Ajustez la valeur pour la position horizontale */
				font-size: 1.5rem;
			}

			.fa-solid {
				opacity: 0;
				color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
				background-image: $background-gradient;
				transition: all 0.4s ease-in-out;
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.menu__contenu_entree {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 12px;
		// padding: 0 13px 0 13px;
		// margin: 0;

		// margin-bottom: 1.5rem;
		//
		// height: 100%;
		// Animation a mettre
		h2 {
			color: #000;
			font-family: Roboto;
			font-size: 1rem;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			text-transform: uppercase;
			margin: 0;

			.bordered__text {
				border-bottom: 2px solid #99e2d0;
			}
		}

		//soit gap-container-animation-prix
		.section__choixcontenu {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 2.52369rem;
			gap: 30px;
			color: black;
			background-color: white;
		}

		//container-prix
		.button__choixcontenu {
			background-color: white;
			// width: 500px;
			width: 100%;
			height: 65px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1.5625rem;
			transition: all ease-in-out 0.4s;
			// Ajouter l'animation au survol
			// &:hover .button__choixcontenu_anime {
			// 	transform: translateX(25px);
			// }
			//anime-prix
			.button__choixcontenu_anime {
				height: 100%;
				background-color: white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				border-radius: 1.5625rem;
				overflow: hidden;
				transition: all ease-in-out 0.4s;
				&:hover {
					.button__choixcontenu__info {
						// width: 0%;
						transform: translateX(0);
					}
					.button__choixcontenu__check .check {
						transform: translateX(0);
						opacity: 1;
					}
					.button__choixcontenu__check span {
						margin-right: 0px; // Au survol, le margin-right de la balise span passe à 0px
						transform: translateX(
							0%
						); // Au survol, la balise span est déplacée vers la gauche (hors de la vue)
					}
				}

				//text-wrap
				.button__choixcontenu__info {
					height: 100%;
					width: 70%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					padding: 10px;
					overflow: hidden;
					flex-wrap: nowrap;
					//text
					& .button__choixcontenu__title {
						overflow: hidden;
						text-overflow: ellipsis;
						margin: 0;
						flex-wrap: nowrap;
						white-space: nowrap;
						max-width: 70%;
					}
				}
				//anime-container
				.button__choixcontenu__check {
					// width: 30%;
					height: 100%;
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					border-radius: 1.5625rem;
					overflow: hidden;

					span {
						font-weight: bold;
						padding: 5px;
						margin-right: -40px; // Par défaut, la balise span a un margin-right
						transition: all 0.4s ease-in-out;
					}

					// anime
					.check {
						height: 100%;
						transition: all 0.4s ease-in-out;
						transform: translateX(
							100%
						); // Par défaut, la balise check est déplacée vers la droite (hors de la vue)
						opacity: 0; // Par défaut, la balise check est invisible
					}

					// Appliquer les styles au survol
					.button__choixcontenu:hover & {
						// .check {
						// 	transform: translateX(
						// 		0
						// 	); // Au survol, la balise check revient à sa position normale
						// 	opacity: 1; // Au survol, la balise check devient visible
						// }
						span {
							margin-right: 0px; // Au survol, le margin-right de la balise span passe à 0px
							transform: translateX(
								-100%
							); // Au survol, la balise span est déplacée vers la gauche (hors de la vue)
						}
					}
				}
			}
		}
	}
}
