@use "../_Variables.scss" as *;
@use "../_Mixin.scss" as Mixin;

// *////////////////////////  Logo Menu  ///////////////////////////////////
.image__menu {
	width: 100%;
	height: 17.18rem;
	object-fit: cover;
}

// *////////////////////////  Section Menu  ///////////////////////////////////
.menu__restaurant {
	position: relative;
	gap: 40px;
	display: flex;
	padding: 5px 10px;
	margin-top: -25px;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	flex-direction: column;
	background-color: #f6f6f6;

	.menu__title {
		display: flex;
		height: 1.6875rem;
		padding-top: 20px;
		margin-bottom: 1.5rem;
		flex-direction: row;
		align-items: center;

		h1 {
			color: Black;
			font-family: Shrikhand;
			font-size: 1.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.restaurant__favorite {
			position: relative;
			display: flex;
			height: 100%;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			i {
				position: absolute; /* Position absolue pour les balises <i> */
				top: 0;
				left: 2.44rem;
				font-size: 1.5rem;
			}

			.fa-solid {
				color: transparent;
				background-image: $background-gradient;
				background-clip: text;
				-webkit-background-clip: text;
				opacity: 0;
				transition: $transition-menu;
				// action au survol de l'icone
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	// *////////////////////////  Animation pour laffichage du menu  ///////////////////////////////////
	//Animation pour laffichage du menu entrée
	.menu__contenu__entree {
		@include Mixin.animation-menu;

		// Définir l'animation-delay pour tous les enfants
		> * {
			@include Mixin.animation-menu;
		}

		// Spécifier les délais individuels pour les enfants
		> :nth-child(2) {
			animation-delay: 0.1s;
		}
		> :nth-child(3) {
			animation-delay: 0.3s;
		}
		> :nth-child(4) {
			animation-delay: 0.5s;
		}
	}

	//Animation pour laffichage du menu plat
	.menu__contenu__plat {
		@include Mixin.animation-menu;
		animation-delay: 0.7s;

		// Définir l'animation-delay pour tous les enfants
		> * {
			@include Mixin.animation-menu;
		}

		// Spécifier les délais individuels pour les enfants
		> :nth-child(2) {
			animation-delay: 0.1s;
		}
		> :nth-child(3) {
			animation-delay: 0.3s;
		}
		> :nth-child(4) {
			animation-delay: 0.5s;
		}
	}

	//Animation pour laffichage du menu plat
	.menu__contenu__dessert {
		@include Mixin.animation-menu;
		animation-delay: 1.4s;

		// Définir l'animation-delay pour tous les enfants
		> * {
			@include Mixin.animation-menu;
		}

		// Spécifier les délais individuels pour les enfants
		> :nth-child(2) {
			animation-delay: 0.1s;
		}
		> :nth-child(3) {
			animation-delay: 0.3s;
		}
		> :nth-child(4) {
			animation-delay: 0.5s;
		}
	}

	.section__bouton {
		@include Mixin.animation-menu;
		animation-delay: 2s;
	}

	// *////////////////////////  Section Menu Contenu  ///////////////////////////////////
	.menu__contenu__entree,
	.menu__contenu__plat,
	.menu__contenu__dessert {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 12px;

		h2 {
			@include Mixin.font-size-menu-contenu-h2;
			text-transform: uppercase;
			margin: 0;

			.bordered__title {
				border-bottom: 2px solid #99e2d0;
			}
		}

		.button__choixcontenu {
			display: flex;
			width: 100%;
			height: 65px;
			border-radius: $button-border-radius;
			justify-content: center;
			align-items: center;
			background-color: $color-white;
			transition: $transition-menu;

			&:hover {
				span {
					margin-right: 0px; // Au survol, le margin-right de la balise span passe à 0px
					transform: translateX(
						-100%
					); // Au survol, la balise span est déplacée vers la gauche (hors de la vue)
				}
			}

			//au chargement de la class
			.button__choixcontenu_anime {
				display: flex;
				height: 100%;
				width: 100%;
				justify-content: space-between;
				align-items: center;
				border-radius: $button-border-radius;
				overflow: hidden;
				transition: $transition-menu;

				// Action lorsqu'on survol
				&:hover {
					.button__choixcontenu__info {
						transform: translateX(0);

						h3,
						p {
							@include Mixin.menu-contenu-hover-ellispsis;
						}
					}

					.button__choixcontenu__check {
						.check {
							transform: translateX(0);
							opacity: 1;
						}

						span {
							margin-right: 0px; // Au survol, le margin-right de la balise span passe à 0px
							transform: translateX(
								0%
							); // Au survol, la balise span est déplacée vers la gauche (hors de la vue)
						}
					}
				}
				//au chargement de la class
				.button__choixcontenu__info {
					height: 100%;
					width: 70%;
					display: flex;
					padding: 10px;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					overflow: hidden;
					h3 {
						@include Mixin.menu-contenu-hover-ellispsis;
						@include Mixin.font-size-menu-contenu-h3;
					}
					p {
						@include Mixin.menu-contenu-hover-ellispsis;
						@include Mixin.font-size-menu-contenu-p;
					}
				}
			}

			.button__choixcontenu__check {
				display: flex;
				height: 100%;
				border-radius: $button-border-radius;
				justify-content: space-between;
				align-items: flex-end;
				overflow: hidden;

				span {
					padding: 5px;
					margin-right: -40px; // Par défaut, la balise span a un margin-right
					font-weight: bold;
					white-space: nowrap; // Empêche le texte de passer à la ligne
					transition: $transition-menu;
				}

				// anime
				.check {
					height: 100%;
					transition: $transition-menu;
					transform: translateX(
						100%
					); // Par défaut, la balise check est déplacée vers la droite (hors de la vue)
					opacity: 0; // Par défaut, la balise check est invisible
				}
			}
		}
	}
}
/* Styles pour les écrans de bureau (1024px et plus) */
@media screen and (min-width: 1024px) {
	.menu__restaurant {
		margin: -25px 10rem 0 10rem;
	}
}
