@use "../_Variables.scss" as *;
@use "../_Mixin" as Mixin;
// Header styles
header {
	display: flex;
	flex-direction: row;
	@include Mixin.flex-alignement-center;
	height: 3.9375rem;
	box-shadow: $box-shadow;

	a {
		position: absolute;
		left: 5%;
	}
	.header__logo {
		display: flex;
		@include Mixin.flex-alignement-center;
		height: 2.25rem;
		background: $color-white;

		.logo__header {
			width: 10.125rem;
			height: 2.75rem;
			padding: 0 1.19rem 0 1rem;
		}
	}
}
